<h2><%= @group.name %></h2>
<p>Admin: <%= @group.admin.name %></p>

<% if current_user == @group.admin %>
  <p>
    Your secret key is <%= @group.secret_key %>
  </p>
  <p>
    PUT HERE A LINK TO RUN THE ALGORITHM
  </p>
<% elsif logged_in? && !@group.users.include?(current_user) %>
  <h3>Join this group:</h3>
  <%= form_tag groups_users_path %>
    <%= hidden_field_tag :group_id, @group.id %>
    <div>
      <%= label_tag "Group key" %>
      <%= text_field_tag "secret_key" %>
    </div>
    <div>
      <%= submit_tag "Join Group" %>
    </div>
<% end %>
<% unless @group.users.empty? %>
  <ul>
    <% @group.users.each do |user| %>
    <li><%= user.name %></li>
    <% end %>
  </ul>
<% end %>